<main class="form-signin w-100 m-auto container">
  <div class="row g-5">
    <div class="col-lg-12 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-dark">장바구니</span>
      </h4>
      <ul id="cart-list" class="list-group mb-3">
      </ul>
      <div id="button-wrapper">
        
      </div>
    </div>
  </div>
</main>

<script>
  $.ajax({
    type: 'GET',
    url: '/api/cart',
    headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
      success: function (response) {
      let totalPrice = 0
      const menuArray = []
    
      const cartArray = response.getCartInMenus.Carts
      if(cartArray.length <= 0){
        const emptyCartHTML = `
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">카트메뉴가 비었습니다.</h6>
            </div>
          </li>
        `
        $('#cart-list').append(emptyCartHTML);

        const buttonWrapperHTML = `<a href="/menu" class="btn btn-dark w-100" >메뉴 고르기</a>`
  
        $('#button-wrapper').append(buttonWrapperHTML);
      } else {
        const cartId = cartArray[0].id
        cartArray[0].Menus.forEach(obj => {
          const menuId = obj.id
          const quantity = obj.Cart_Menu.quantity
          const menuName = obj.menuName
          const menuPrice = obj.menuPrice
          
          menuArray.push(menuName)
          totalPrice += menuPrice * quantity
          
          const cartListHTML = `
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">${menuName}</h6>
                <small class="text-body-secondary">${menuPrice} 원</small>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  ${quantity}
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" onclick="editMenuQuantity(${cartId}, ${menuId}, 1)">1</button></li>
                  <li><button class="dropdown-item" onclick="editMenuQuantity(${cartId}, ${menuId}, 2)">2</button></li>
                  <li><button class="dropdown-item" onclick="editMenuQuantity(${cartId}, ${menuId}, 3)">3</button></li>
                  <li><button class="dropdown-item" onclick="editMenuQuantity(${cartId}, ${menuId}, 4)">4</button></li>
                </ul>
              </div>
            </li>
          `
          $('#cart-list').append(cartListHTML);
        });
        
        const totalPriceHTML = `
          <li id="total-price" class="list-group-item d-flex justify-content-between">
            <span>Total </span>
            <strong>${totalPrice} 원</strong>
          </li>
        `
        
        $('#cart-list').append(totalPriceHTML);

        const payload = {
          userName : response.getCartInMenus.userName,
          email : response.getCartInMenus.email,
          phone : response.getCartInMenus.phone,
          address : response.getCartInMenus.address,
          total : totalPrice,
          menus : menuArray
        }
        
        const checkoutButton = `
          <button class="btn btn-dark" type="button")">주문하기</button>
        `

        const buttonWrapperHTML = `
          <button type="button" class="btn btn-outline-secondary" onclick="emptyToCart(${cartId})">모두삭제</button>
        `
        
        $(checkoutButton).appendTo('#button-wrapper').on("click", function(){checkout(payload)})
        $('#button-wrapper').append(buttonWrapperHTML);
      }
      
    },
    error: function(error){
      alert(error.responseJSON.message)
    }
  });
    
  function editMenuQuantity(cartId, menuId, quantity) {
    $.ajax({
      type: 'PATCH',
      url: `/api/cart/${cartId}/menu/${menuId}`,
      headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
      data: {quantity},
      success: function (response) {
        window.location.reload()
      },
      error: function(err){
        alert(err.responseJSON.message)
        window.location.reload()
      }
    });
  }

  function emptyToCart(cartId) {
    $.ajax({
      type: 'DELETE',
      url: `/api/cart/${cartId}`,
      headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
      success: function (response) {
        window.location.reload();
      },
      error: function(err){
        alert(err.responseJSON.message)
        window.location.reload()
      }
    });
  }

  function checkout(payload){
    sessionStorage.setItem("cart", JSON.stringify(payload))
    window.location.href="/checkout"
  }

</script>

