<main class="container">
  <h4 class="mb-3">주문</h4>
  <hr class="my-4" />
  <form class="needs-validation" novalidate>
    <h5 class="mb-3">구매자</h5>
    <div class="mb-3 row">
      <label for="staticName" class="col-12 col-form-label">이름</label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext form-control-sm"
          id="staticName"
          value="이정기"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-12 col-form-label"
        >이메일</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext form-control-sm"
          id="staticEmail"
          value="wjdrl3122@gmail.com"
        />
      </div>
    </div>

    <hr class="my-4" />

    <h5 class="mb-3">받는 사람</h5>
    <div class="mb-3 col-12">
      <label for="contactName" class="form-label">이름</label>
      <input
        type="text"
        class="form-control"
        id="contactName"
        placeholder="받는 사람"
        required
      />
    </div>
    <div class="mb-3 col-12">
      <label for="contactPhone" class="form-label"
        >연락 가능한 핸드폰</label
      >
      <input
        type="text"
        class="form-control"
        id="contactPhone"
        placeholder="받는 사람 핸드폰"
        required
      />
    </div>
    <div class="mb-3 col-12">
      <label for="contactAddress" class="form-label">받을 주소</label>
      <input
        type="text"
        class="form-control"
        id="contactAddress"
        placeholder="OO시 OO구 OO동 상세주소까지 자세히 적어주세요."
        required
      />
    </div>
    <div class="mb-3 col-12">
      <label for="memo" class="form-label">요청사항</label>
      <textarea class="form-control" id="memo" rows="3"></textarea>
    </div>

    <hr class="my-4" />

    <div class="mb-3 col-12">
      <h5 class="mb-3">결제 금액</h5>
      <p><strong>20000 </strong>원</p>
      <!-- 총금액 -->
    </div>

    <hr class="my-4" />

    <button class="w-100 btn btn-dark btn-lg" type="submit">주문</button>
  </form>
</main>


<script>
  $(document).ready(function () {
    getcart();
  });

  function postOrder() {
    let address = $('#address').val();
    let memo = $('#memo').val();
    let totalPrice = $('#price').val();

    $.ajax({
      type: 'POST',
      url: '/api/order',
      data: {
        address,
        memo,
        totalPrice,
      },
      success: function (response) {
        alert(response['message']);
        location.href = '/orderchk';
      },
    });
  }

  function getcart() {
    $.ajax({
      type: 'GET',
      url: '/api/cart/order',
      data: {},
      success: function (response) {
        let rows = response['0']['cart'];
        let address = response['0']['cart']['0']['user']['address'];
        let totalPrice = 0;

        for (let i = 0; i < rows.length; i++) {
          let menuAmount = rows[i]['menuAmount'];
          let menuName = rows[i]['menu']['menuName'];
          let menuPrice = rows[i]['menu']['menuPrice'];

          totalPrice += menuPrice * menuAmount;

          let temp_html = `<p>${menuName}<strong> ${menuAmount} 마리</strong></p>`;
          $('#menuList').append(temp_html);
        }
        temp_html = `<textarea class="form-control" id="address" rows="3">${address}</textarea>`;
        $('#userAddress').append(temp_html);

        temp_html = `<p>총 : <span>${totalPrice}</span>원</p>`;
        $('#totalPrice').append(temp_html);
        $('#price').val(totalPrice);
      },
    });
  }
</script>

