<% if (components === 'mainUser') { %>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="about-text">
            정기치킨은 깨끗한 치킨으로 여러분을 모십니다.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white" onclick="location.href='/main'"
                >메뉴</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="location.href='/mypage'"
                >마이페이지</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="location.href='/cart'"
                >장바구니</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="location.href='/order'"
                >주문확인</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="signOut()">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>정기치킨주식회사</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <script defer src="/js/user.js"></script>
</header>
<% } else if (components === 'mainOwner') { %>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">이정기 사장님</h4>
          <p class="about-text">환영합니다.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white" onclick="location.href='/mypage'"
                >마이페이지</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="signOut()">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>정기치킨주식회사</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <script defer src="/js/user.js"></script>
</header>
<% } else { %>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="about-text">
            정기치킨은 깨끗한 치킨으로 여러분을 모십니다.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-white" onclick="location.href='/main'"
                >회원 관리</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="location.href='/admin'"
                >상품 관리</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="location.href='/mypage'"
                >마이페이지</a
              >
            </li>
            <li>
              <a href="#" class="text-white" onclick="signOut()">로그아웃</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>정기치킨주식회사</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <script defer src="/js/user.js"></script>
</header>
<% } %>
