<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
    <title>마이페이지</title>
  </head>
  <body>
    <!-- header -->
    <%- include('header.ejs') %>
    <!-- body -->
    <%- include('myPageEdit.ejs') %>
  </body>
</html>
