<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">메뉴</h1>
        <p class="lead text-muted">
          치킨은 맛있습니다. 왜냐하면 맛있기 때문이죠. 그래서 치킨을
          먹어야합니다. 일주일에 세번은 먹어야 합니다. 단백질을 섭취해야하기
          때문이죠. 그럼 메뉴를 골라보시죠.
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-------------메뉴 카드----------->
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                이미지를 넣으세요
              </text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                올리브유로 후라이드를 튀겼습니다. 맛이 끝내주죠.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    장바구니추가
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    바로 주문
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-------------메뉴 카드----------->
        <!-------------메뉴 카드----------->
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                이미지를 넣으세요
              </text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                올리브유로 후라이드를 튀겼습니다. 맛이 끝내주죠.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    장바구니추가
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    바로 주문
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-------------메뉴 카드----------->
        <!-------------메뉴 카드----------->
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                이미지를 넣으세요
              </text>
            </svg>
            <div class="card-body">
              <p class="card-text">
                올리브유로 후라이드를 튀겼습니다. 맛이 끝내주죠.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    장바구니추가
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    바로 주문
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-------------메뉴 카드----------->
      </div>

      <footer class="pt-5 my-5 text-muted border-top text-center">
        정기치킨주식회사 &middot; &copy; 2023
      </footer>
    </div>
  </div>
</main>
