<div class="container">
    <div class="row g-5">
      <div class="col-md-12">
        <!----------------그룹---------------->
        <h2>주문 목록</h2>
        <table border="1">
          <thead >
          </tr>
            <th>index</th>
            <th>email</th>
            <th>메뉴</th>
            <th>주소</th>
            <th>핸드폰</th>
            <th>요청사항</th>
            <th>거절</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>wjdrl@gmail.com</td>
              <td>후라이드</td>
              <td>서울특별시</td>
              <td>01012341234</td>
              <td><button type="button" class="btn btn-success">수락</button></td>
              <td><button type="button" class="btn btn-danger">삭제</button></td>
            </tr>
          </tbody>
        </table>
        <!------------페이지네이션---------->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!------------페이지네이션---------->
      </div>
    </div>
    <hr class="col-md-12 mb-5" />
    <!----------------그룹---------------->
    <!----------------그룹---------------->
    <div class="row g-5">
      <div class="col-md-12">
        <h2>주문 진행</h2>
        <table border="1">
          <thead >
          </tr>
             <th>index</th>    
              <th>email</th>
              <th>메뉴</th>
              <th>주소</th>
              <th>핸드폰</th>
              <th>요청사항</th>
              <th>진행상황</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>wjdrl@gmail.com</td>
              <td>후라이드</td>
              <td>서울특별시</td>
              <td>01012341234</td>
              <td>무조건바삭하게</td>
              <td><button type="button" class="btn btn-secondary">진행중</button></td>
            </tr>
          </tbody>
        </table>
        <!------------페이지네이션---------->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!------------페이지네이션---------->
      </div>
    </div>
      <hr class="col-md-12 mb-5" />
      <!----------------그룹---------------->
      <!----------------그룹---------------->
        <div class="row g-5">
          <div class="col-md-12">
            <h2>주문 완료</h2>
            <table border="1">
              <thead >
              </tr>
                  <th>index</th>
                  <th>이메일</th>
                  <th>메뉴</th>
                  <th>주소</th>
                  <th>핸드폰</th>
                  <th>요청사항</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>wjdrl@gmail.com</td>
                  <td>후라이드</td>
                  <td>서울특별시</td>
                  <td>01012341234</td>
                  <td>무조건바삭하게</td>
                </tr>
              </tbody>
            </table>
        <!------------페이지네이션---------->
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!------------페이지네이션---------->
          </div>
        </div>
        <!----------------그룹---------------->
      
      <footer class="pt-5 my-5 text-muted border-top">
        정기치킨주식회사 &middot; &copy; 2023
      </footer>
    </div>
    </div>