<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">메뉴</h1>
        <p class="lead text-muted">
          치킨은 맛있습니다. 왜냐하면 맛있기 때문이죠. 그래서 치킨을
          먹어야합니다. 일주일에 세번은 먹어야 합니다. 단백질을 섭취해야하기
          때문이죠. 그럼 메뉴를 골라보시죠.
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container card-container">
      <div class="row" id="chickenMenu">
        <!-- 여기에 치킨메뉴 -->
      </div>
    </div>
    <footer class="pt-5 my-5 text-muted border-top text-center">
      정기치킨주식회사 &middot; &copy; 2023
    </footer>
  </div>
  <script defer src="./js/menu.js"></script>
</main>
