<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">메뉴</h1>
        <p class="lead text-muted">
          치킨은 맛있습니다. 왜냐하면 맛있기 때문이죠. 그래서 치킨을
          먹어야합니다. 일주일에 세번은 먹어야 합니다. 단백질을 섭취해야하기
          때문이죠. 그럼 메뉴를 골라보시죠.
        </p>
      </div>
    </div>
  </section>

  <hr>

  <div class="album bg-light">
    <div class="container card-container">
      <div class="row row-cols-auto row-gap-4" id="menu">
        <!-- 여기에 치킨메뉴 -->
      </div>
    </div>
    <footer class="pt-5 my-5 text-muted border-top text-center">
      정기치킨주식회사 &middot; &copy; 2023
    </footer>
    </div>
</main>

<script>
  $.ajax({
    type: 'GET',
    url: `/api/menu`,
    headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
    success: function (response) {
      const menu = response.menu
      if(menu.length === 0){
        $('#menu').text('오픈 준비 중 입니다.')
      }
      menu.forEach(obj => {
        const menuId = obj.id
        const menuName = obj.menuName
        const menuPrice = obj.menuPrice
        const fileName = obj.menuPhoto
        
        const menuListHTML = `
          <div class="col" id="cardCenter">
              <div class="card p-3" style="width: 18rem">
                <img
                  class="card-img-top img-fluid"
                  src='/uploads/${fileName}'
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">${menuName}</h4>
                  <p class="card-text">가격 : ${menuPrice}원</p>
                </div>
                <div class="my-auto">
                  <button
                    type="button"
                    class="btn btn-dark col-6 mb-3"
                    onclick="addCart(${menuId})"
                  >
                    장바구니 추가
                  </button>
                  <button
                    type="button"
                    class="btn btn-dark col-5 mb-3"
                    onclick="quickOrder(${menuId})"
                  >
                    주문하기
                  </button>
                </div>
              </div> 
            </div>
          `

          $('#menu').append(menuListHTML)
        });
    },
    error: function (err) {
      alert(err.responseJSON.message)
    },
  })
  
  /* 장바구니 추가 */
  function addCart(menuId) {
    $.ajax({
      type: 'POST',
      url: `/api/cart/${menuId}`,
      headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
      success: function (response) {
        if(confirm(response.message + " 장바구니로 이동하시겠습니까?")){
          window.location.href = "/cart"
        }
      },
      error: function(err){
        alert("메뉴를 담는데 실패했습니다.")
      }
    });
  }

  /* 바로 주문하기 */
  function quickOrder(menuId) {
    $.ajax({
      type: 'POST',
      url: `/api/order/now/${menuId}`,
      data: {},
      success: function (response) {
        alert(response['message']);
        location.href = '/orderchk';
      },
    });
  }
</script>