<!-----------------마이페이지---------------->
<main class="form-signin w-100 m-auto">
  <form>
    <div class="title">
      <h1>마이페이지</h1>
    </div>
    <!----이메일(고정)----->
    <div class="mb-3 row">
      <label for="staticEmail" class="col-12 col-form-label">이메일</label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="email@example.com"
        />
      </div>
    </div>
    <!----이메일(고정)----->
    <hr class="col-12" />
    <!----주소(고정)----->
    <div class="mb-3 row">
      <label for="inputAddress" class="col-12 col-form-label">주소</label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticAddress"
          value="서울 특별시 특별시"
        />
      </div>
    </div>
    <!----주소(고정)----->
    <hr class="col-12" />
    <!----핸드폰(고정)----->
    <div class="mb-3 row">
      <label for="inputPhone" class="col-12 col-form-label">핸드폰</label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="010-1234-1234"
        />
      </div>
    </div>
    <!----핸드폰(고정)----->
    <hr class="col-12" />
    <button type="submit" class="btn btn-primary">수정</button>
    <button type="submit" class="btn btn-primary">확인</button>
  </form>
</main>
<!-----------------마이페이지---------------->
