<main class="form-signin w-100 m-auto container">
  <div id="editForm" class="row">
    <form>
      <div class="title">
        <h4>마이페이지</h4>
      </div>
      <div id="myProfile"></div>
      <hr class="col-12" />
    </form>
  </div>
</main>

<script>
    function saveUserToSessionStorage (payload){
      sessionStorage.setItem("user", JSON.stringify(payload))
      window.location.href="/mypage/edit"
    }

    $.ajax({
      type: 'GET',
      url: '/api/user',
      headers: {
            'Authorization': `Bearer ${tokens.accessToken}`,
            'Refresh': `${tokens.refreshToken}`
      },
      success: function (response) {
        const {address, email, phone, userName}= response.user

        let temp_html = `
        <div class="mb-3 row">
            <label for="staticEmail" class="col-12 col-form-label">이메일</label>
            <div class="col-sm-10">
              <input
                type="text"
                readonly
                class="form-control-plaintext"
                id="staticEmail"
                value="${email}"
              />
            </div>
          </div>
          <hr class="col-12" />
          <div class="mb-3 row">
            <label for="staticName" class="col-12 col-form-label">이름</label>
            <div class="col-sm-10">
              <input
                type="text"
                readonly
                class="form-control-plaintext"
                id="staticName"
                value="${userName}"
              />
            </div>
          </div>
          <hr class="col-12" />
          <div class="mb-3 row">
            <label for="inputAddress" class="col-12 col-form-label">주소</label>
            <div class="col-sm-10">
              <input
                type="text"
                readonly
                class="form-control-plaintext"
                id="staticAddress"
                value="${address}"
              />
            </div>
          </div>
          <hr class="col-12" />
          <div class="mb-3 row">
            <label for="inputPhone" class="col-12 col-form-label">핸드폰</label>
            <div class="col-sm-10">
              <input
                type="text"
                readonly
                class="form-control-plaintext"
                id="staticPhone"
                value="${phone}"
              />
            </div>
          </div>
        `;
        $('#myProfile').append(temp_html);
        
        const payload = { address, email, phone, userName }

        const editUserButton = `
          <button type="button" class="btn btn-dark" onclick="saveUserToSessionStorage(payload)">
            수정
          </button>
        `

        $(editUserButton).appendTo('#editForm').on("click", function(){saveUserToSessionStorage(payload)})
      },
      error: function(err){
        alert(err.responseJSON.message)
      }
    });
</script>