<!-----------------마이페이지---------------->
<main class="form-signin w-100 m-auto container">
  <div class="row">
    <form>
      <div class="title">
        <h1>마이페이지</h1>
      </div>
      <div id="myProfile"></div>
      <hr class="col-12" />
      <button
        type="button"
        class="btn btn-primary"
        onclick="location.href='/mypage/edit'"
      >
        수정
      </button>
      <button type="submit" class="btn btn-primary">확인</button>
    </form>
  </div>
</main>
<script defer src="./js/mypage.js"></script>
<!-----------------마이페이지---------------->
