<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="./css/main.css" />
    <title>주문확인</title>
  </head>
  <body>
    <%- include('header.ejs') %> 

    <div class="container">
      <div class="row g-5">
        <div class="col-md-12">
        <!----------------그룹---------------->
          <div class="row g-5">
            <div class="col-md-12">
              <h2>주문 확인</h2>
              <table class="type09 mb-3">
                <thead >
                </tr>
                  <th>주문번호</th>
                  <th>이메일</th>
                  <th>메뉴</th>
                  <th>수량</th>
                  <th>주소</th>
                  <th>핸드폰</th>
                  <th>요청사항</th>
                  <th>주문상태</th>
                </tr>
              </thead>
              <tbody id="userOrderList">
              </tbody>
            </table>
            </div>
          </div>
        <!----------------그룹---------------->
          <footer class="pt-5 my-5 text-muted border-top text-center">
            정기치킨주식회사 &middot; &copy; 2023
          </footer>
      </div>
    </div>
  </body>
  <script defer src="./js/orderCheck.js"></script>
</html>
