<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
    <title>주문하기</title>
  </head>
  <body>
    <!-----------------헤더 네비게이션---------------->
    <%- include('header.ejs') %>
    <!-----------------헤더 네비게이션---------------->
    <!-----------------마이페이지---------------->
    <main class="form-signin w-100 m-auto container">
      <form>
        <div class="title">
          <h1>주문하기</h1>
        </div>
        <div>
          <hr class="col-12" />
          <!----주소(고정)----->
          <div class="mb-3 row">
            <label for="inputCart" class="col-2 col-form-label">주문</label>
            <div id="menuList" class="col-10 cartMenu"></div>
          </div>
          <hr class="col-12" />
          <!----주소(고정)----->
          <!----추가된 메뉴----->
          <div class="mb-2 row">
            <label for="staticAddress" class="col-2 col-form-label">주소</label>
            <div id="userAddress" class="col-6"></div>
          </div>
          <hr class="col-12" />
          <!----추가된 메뉴----->
          <!----요청사항----->
          <div class="mb-3">
            <label for="Textarea" class="form-label">요청사항</label>
            <textarea class="form-control" id="memo" rows="3"></textarea>
          </div>
          <!----요청사항----->
          <hr class="col-12" />
        </div>
        <div id="totalPrice"></div>
        <input type="hidden" class="form-control" id="price" value="" />
        <button type="button" class="btn btn-primary" onclick="postOrder()">
          주문
        </button>
      </form>
    </main>
    <!-----------------마이페이지---------------->
  </body>
  <script defer src="/js/order.js"></script>
</html>
