<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
    <title>주문하기</title>
  </head>
  <body>
    <!-----------------헤더 네비게이션---------------->
    <header style="margin-bottom: 80px">
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="about-text">
              정기치킨은 깨끗한 치킨으로 여러분을 모십니다.
            </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">회원 관리</a></li>
              <li><a href="#" class="text-white">상품 관리</a></li>
              <li><a href="#" class="text-white">마이페이지</a></li>
              <li><a href="#" class="text-white">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>정기치킨주식회사</strong>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <!-----------------헤더 네비게이션---------------->
    <!-----------------마이페이지---------------->
    <main class="form-signin w-100 m-auto container">
      <form>
        <div class="title">
          <h1>주문하기</h1>
        </div>
        <div>
          <hr class="col-12" />
          <!----주소(고정)----->
          <div class="mb-3 row">
            <label for="inputCart" class="col-2 col-form-label">주문</label>
            <div id="menuList" class="col-10 cartMenu"></div>
          </div>
          <hr class="col-12" />
          <!----주소(고정)----->
          <!----추가된 메뉴----->
          <div class="mb-2 row">
            <label for="staticAddress" class="col-2 col-form-label">주소</label>
            <div id="userAddress" class="col-6"></div>
          </div>
          <hr class="col-12" />
          <!----추가된 메뉴----->
          <!----요청사항----->
          <div class="mb-3">
            <label for="Textarea" class="form-label">요청사항</label>
            <textarea class="form-control" id="memo" rows="3"></textarea>
          </div>
          <!----요청사항----->
          <hr class="col-12" />
        </div>
        <div id="totalPrice"></div>
        <input type="text" class="form-control" id="price" value="" />
        <button type="button" class="btn btn-primary" onclick="postOrder()">
          주문
        </button>
      </form>
    </main>
    <!-----------------마이페이지---------------->
  </body>
  <script defer src="/js/order.js"></script>
</html>
