<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 코드 리팩토링 -->
    <link rel="stylesheet" href="./js/main.js" />
    <link rel="stylesheet" href="./css/signIn.css" />
    <title>Login</title>
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form>
        <div class="bubbles">
          <h1>정기치킨</h1>
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="signUpEmail"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="signUpPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          type="button"
          onclick="signIn()"
        >
          Login
        </button>
        <a class="btn btn-link" href="/signup"> 회원이 아니신가요?? </a>
      </form>
    </main>

    <script defer src="./js/user.js"></script>
  </body>
</html>
