<!DOCTYPE html>
<html lang="en">
  <head>
    <!------ Include the above in your HEAD tag ---------->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/882e525969.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signUp.css" />
    <title>회원가입</title>
  </head>
  <body class="bg-sign">
    <div class="container bg-sign">
      <div class="card bg-sign mx-auto">
        <article class="card-body mx-auto">
          <h1 class="text-center">정기치킨</h1>

          <form id="myForm">
            <div class="form-group input-group">
              <!-- form-group// ID-->
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input
                id="id"
                type="text"
                class="form-control"
                placeholder="Email"
                required
              />
              <div id="overlapErr" class="invalid-feedback help-block">
                2글자 이상 입력하세요.
              </div>
            </div>
            <!-- form-group// ID-->
            <!-- form-group// pwd-->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                id="pwd"
                type="password"
                class="form-control"
                placeholder="password"
                required
              />
              <div id="pwdRegErr" class="invalid-feedback help-block">
                8글자 이상 12글자 이하 입력하세요.
              </div>
            </div>
            <!-- form-group// pwd-->
            <!-- form-group// rePwd-->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                id="rePwd"
                type="password"
                class="form-control"
                placeholder="repassword"
                required
              />
              <div id="rePwdgErr" class="invalid-feedback help-block">
                비밀번호와 일치하지 않습니다. 다시 입력해 주세요.
              </div>
            </div>
            <!-- form-group// rePwd-->
            <!-- form-group// email-->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input
                id="email"
                type="text"
                class="form-control"
                placeholder="ex> aaa@naver.com"
                required
              />
              <div id="emailErr" class="invalid-feedback help-block">
                이메일 형식에 맞지 않습니다.
              </div>
            </div>
            <!-- form-group// email-->
            <!-- form-group// phone-->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input
                id="phone"
                type="text"
                class="form-control"
                placeholder="000-0000-0000"
                required
              />
              <div id="phoneErr" class="invalid-feedback help-block">
                휴대폰 번호 형식에 맞지 않습니다.
              </div>
            </div>
            <!-- form-group// phone-->
            <!-- form-group// admin-->
            <div
              class="form-group btn-group"
              role="group"
              aria-label="Basic radio toggle button group"
              style="width: 100%"
            >
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio1"
                autocomplete="off"
                checked
              />
              <label class="btn btn-outline-primary" for="btnradio1"
                >손놈</label
              >

              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio2"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="btnradio2"
                >잘생긴사장</label
              >

              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio3"
                autocomplete="off"
              />
              <label class="btn btn-outline-primary" for="btnradio3"
                >관리자</label
              >
            </div>
            <!-- form-group// admin-->
            <!-- submit-button// -->
            <div class="form-group">
              <button
                type="button"
                class="btn btn-primary btn-block"
                style="width: 100%"
                onclick="saveAccount()"
              >
                Create Account
              </button>
            </div>
            <!-- submit-button// -->
            <p class="text-center">계정이 있나요?<a href="/">Log In</a></p>
          </form>
        </article>
      </div>
      <!-- card.// -->
    </div>
    <!--container end.//-->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <!-- <script>
      let id = $('#id').val;
      $.ajax({
        type: 'post',
        url: '/test',
        data: {
          id: id,
        },
        success: function (result) {},
        error: function (request, status, error) {
          // 결과 에러 콜백함수
          console.log(error);
        },
      });
    </script> -->
  </body>
</html>
