<div class="container">
  <div class="row g-5">
    <div class="col-12">
      <h4 class="tableTitle" >유저 리스트</h4>
    <div>
    <table class="type09 mb-3">
      <thead>
        <tr>
            <th scope="cols">이름</th>
            <th scope="cols">이메일</th>
            <th scope="cols">주소</th>
            <th scope="cols">핸드폰</th>
            <th scope="cols">제거</th>
        </tr>
      </thead>
      <tbody id = "userList">

      </tbody>
    </table>
  </div>
</div>

<script>

</script>

