<!-----------------회원 정보 수정---------------->
<main class="form-signin w-100 m-auto">
  <form>
    <div class="title">
      <h1>회원 정보 수정</h1>
    </div>
    <div id="editProfile"></div>
    <hr class="col-12" />
    <button type="button" class="btn btn-primary" onclick="editUserAdmin()">
      수정
    </button>
    <button
      type="button"
      class="btn btn-primary"
      onclick="location.href='/main'"
    >
      확인
    </button>
  </form>
</main>
<!-----------------회원 정보 수정---------------->
