<main class="form-signin w-100 m-auto container">
  <div class="row">
    <form id="form-edit-user">
      <div class="title">
        <h4>마이페이지</h4>
      </div>
      <div id="userProfile">
        
      </div>
      <hr class="col-12" />
      <button
        type="submit"
        class="btn btn-dark"
      >
        수정완료
      </button>
    </form>
  </div>
</main>

<script>
  const id = window.location.pathname.replace(/\/admin\/user\/edit?\//,'')

  $.ajax({
    type: 'GET',
    url: `/api/user/${id}`,
    headers: {
      Authorization: `Bearer ${tokens.accessToken}`,
      Refresh: `${tokens.refreshToken}`,
    },
    success: function (response) {
      const {
        address,
        createdAt,
        email,
        id: userId,
        phone,
        userName : name,
        userType
      } = response.user

      const TIME_ZONE = 9 * 60 * 60 * 1000;
      const date = new Date(createdAt)
      const userCreationDate = new Date(date.getTime() + TIME_ZONE).toISOString().replace('T', ' ').slice(0, -5);
      
      const userRole = userType === 0 ? '유저' : userType === 1 ? '사장님' : ''
 
      const editUserHTML = `
        <div class="mb-3 row">
          <label for="staticUserType" class="col-12 col-form-label">권한</label>
          <div class="col-sm-10">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="userType"
              value="${userRole}"
            />
          </div>
        </div>
        <hr class="col-12" />
        <div class="mb-3 row">
          <label for="staticEmail" class="col-12 col-form-label">이메일</label>
          <div class="col-sm-10">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="userEmail"
              value="${email}"
            />
          </div>
        </div>
        <hr>
        <div class="mb-3 row">
          <label for="staticCreatedDate" class="col-12 col-form-label">가입날짜</label>
          <div class="col-sm-10">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="userCreatedDate"
              value="${userCreationDate}"
            />
          </div>
        </div>
        <hr class="col-12" />
        <div class="mb-3 row">
          <label for="inputName" class="col-12 col-form-label">이름</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="userName"
              value="${name}"
            />
          </div>
        </div>
        <hr class="col-12" />
        <div class="mb-3 row">
          <label for="inputAddress" class="col-12 col-form-label">주소</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="userAddress"
              value="${address}"
            />
          </div>
        </div>
        <hr class="col-12" />
        <div class="mb-3 row">
          <label for="inputPhone" class="col-12 col-form-label">핸드폰</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="userPhone"
              value="${phone}"
            />
          </div>
        </div>
        <hr class="col-12" />
        <div class="mb-3 row">
          <label for="inputPassword" class="col-12 col-form-label">비밀번호 변경(입력하지 않으면, 기존 비밀번호가 유지됩니다.)</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="userPassword"
              value=""
            />
          </div>
        </div>
      `;
      $('#userProfile').append(editUserHTML);
          
    },
    error: function(err) {
    }
  })
  
  
  $('#form-edit-user').submit(function(e){
    e.preventDefault();

    const name = $('#userName').val()
    const phone = $('#userPhone').val()
    const address = $('#userAddress').val()
    const password = $('#userPassword').val()



    //POST 요청 수정하기
    $.ajax({
      type : 'PATCH',
      url : `/api/user/${id}`,
      headers: {
        'Authorization': `Bearer ${tokens.accessToken}`,
        'Refresh': `${tokens.refreshToken}`
      },
      data: {
        name,
        phone,
        address,
        password
      },
      success: function(response){
        alert(response.message)
        window.location.href="/admin/users"
      },
      error: function(err){
        alert(err.responseJSON.message)
      },
    })
  })

</script>