html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #bf9334;
}

/* .bg-sign {
  background-color: #ffdead;
} */

.card {
  max-width: 800px;
  padding: 100px;
  background-color: #ffc545;
}

.form-group {
  margin-bottom: 15px;
  width: 300px;
}

.input-group-text {
  padding: 0.8rem;
}

/*경고문구 숨김 처리*/
#phoneErr {
  display: none;
}

.logoBox {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
